[mysqld]
# set the path to the data directory
datadir=/var/lib/mysql
skip-grant-tables


# set the server's default storage engine
default-storage-engine=INNODB

# set the server's default character set and collation
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

